#body {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    
    min-width: 100%;
    min-height: 100%;
    -webkit-animation: myfirst 2s;
    /* Chrome, Safari, Opera */
}
/* Chrome, Safari, Opera */

@-webkit-keyframes myfirst {
    0% {
        background: grey;
    }
    50% {
        background: bisque;
    }
    100% {
        background: dimgrey;
    }
}
#mainBlock {
    position: absolute;
    margin-top: 22%;
    margin-bottom: 41%;
    left: 22%;
}
#bigTitle {
    font-size: 125px;
    color: bisque;
}
#yearName {
    font-size: 70px;
    color: darkgray;
}
.month-block {
    display: inline-block;
    background-color: rgb(52, 53, 60);
    width: 160px;
    height: 150px;
    -webkit-transition: background-color 1s, transform 1s;
    transition: background-color 1s, transform 1s;
}
.month-block:hover {
    background-color: inherit;
    cursor: pointer;
    transform: rotate(360deg);
}
.month-name {
    position: relative;
    top: 21%;
    font-size: 63px;
    left: 10%;
    color: dimgrey;
}
.empty-line {
    height: 4px;
}
#month {
    position: relative;
    height: 50%;
    top: 25%;
    left: 40%;
    font-size: -webkit-xxx-large;
    color: rgb(19, 84, 95);
    font-family: serif;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}
#month:hover {
    font-size: 100px;
    color: black;
}
.aDate {
    float: left;
    background-color: antiquewhite;
    height: 80px;
    width: 80px;
}
#day {
    position: relative;
    background-color: azure;
    width: 80px;
    height: 30px;
}
.date-block {
    display: inline-block;
    background-color: inherit;
    width: 160px;
    height: 150px;
    font-size: large;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}
.date-block:hover {
    background-color: inherit;
    cursor: pointer;
    color: blue;
    font-size: 100px;
    transform: rotate(45deg);
}
;
