#mainBlock {
    position: absolute;
    margin-top: 22%;
    margin-bottom: 41%;
    left: 22%;
}
#bigTitle {
    font-size: 125px;
    color: bisque;
}
#yearName {
    font-size: 70px;
    color: darkgray;
}
.month-block {
    display: inline-block;
    background-color: rgb(52, 53, 60);
    width: 160px;
    height: 150px;
}
.month-name {
    position: relative;
    top: 21%;
    font-size: 63px;
    left: 10%;
    color: dimgrey;
}
.empty-line {
    height: 4px;
}
.month-block:hover {
    background-color: inherit;
    cursor: pointer;
}
#month {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: -webkit-xxx-large;
    color: rgb(43, 48, 134);
    font-family: serif;
}
.aDate {
    float: left;
    background-color: antiquewhite;
    height: 80px;
    width: 80px;
}
#day {
    position: relative;
    background-color: azure;
    width: 80px;
    height: 30px;
}

.date-block {
    display: inline-block;
    background-color: inherit;
    width: 160px;
    height: 150px;
    font-size: large;
}

.date-block:hover{
    background-color: inherit;
    cursor: pointer;
color: blue;
};